.burger__nav {
  height: 15vh;
  width: 100vw;
  position: fixed;
  z-index: 111;
  border-bottom: 1px groove rgba(255, 255, 255, 0.445);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 0.1rem;
  transition: 0.3s all ease;
  background-color: black;

  &.black {
    background-color: black;
  }

  &.inactive {
    transform: translateY(-15vh);
  }

  &.active {
    background-color: black;
    border: none;
  }

  .navigation__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 5rem;

    @media screen and (max-width: 350px) {
      margin-left: 2rem;
    }

    span {
      letter-spacing: 0.2rem;
    }

    .navigation__logo_container {
      width: 60px;
      height: 40px;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 0.3rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .hamburger__menu {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 5rem;

    @media screen and (max-width: 350px) {
      margin-right: 2rem;
    }

    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(-38deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(38deg);
        }
      }
    }

    span {
      width: 100%;
      height: 5px;
      border-radius: 8px;
      background-color: #fff;
      transition: 0.4s ease;
      transform-origin: right;
    }
  }
}
