.contact__wrapper {
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-family: "Architects Daughter", cursive;
      font-size: 40px;
      margin-top: 3rem;
      border: 2px dotted white;
      padding: 0.5rem 2rem;
      text-decoration: underline;
    }

    h2 {
      color: rgb(212, 109, 13);
      margin-bottom: 0;
      font-size: 30px;
    }

    p {
      font-size: 18px;
    }
  }

  .map {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 30px;
      font-family: "Architects Daughter", cursive;
      text-decoration: underline;
    }

    .map__wrapper {
      width: 70vw;
      margin-bottom: 5rem;
      color: black;
      -webkit-box-shadow: 1px 1px 10px 0px rgba(228, 228, 228, 1);
      -moz-box-shadow: 1px 1px 10px 0px rgba(228, 228, 228, 1);
      box-shadow: 1px 1px 10px 0px rgba(228, 228, 228, 1);
    }
  }
}
