@import "./index.scss";

.footer__wrapper {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;

  .footer__top {
    min-height: 50vh;
    width: 100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 2rem;

    @include mobile {
      align-items: center;
    }

    h3 {
      @include mobile {
        font-size: 22px;
      }
    }

    @media screen and (max-width: 1200px) {
      justify-content: center;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  .footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    text-align: center;

    @include mobile {
      flex-direction: column;
      height: auto;
    }

    .footer__bottom_left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include mobile {
        padding-top: 1rem;
        width: 80%;
      }

      p {
        font-size: 14px;
        margin: 0;
      }
      span {
        margin-left: 0.5rem;
        font-size: 14px;
        a {
          color: white;

          &:hover {
            color: rgb(212, 109, 13);
          }
        }
      }
    }
    .footer__bottom_right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        padding: 1rem 0;
        width: 80%;
      }

      & > a:first-child {
        margin-right: 20px;
      }

      a {
        color: white;
        &:hover {
          color: rgb(212, 109, 13);
        }
        p {
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
}
