@import "./index.scss";

.footer__hours {
  min-width: 22vw;
  min-height: 100px;

  @media screen and (max-width: 1200px) {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include mobile {
    width: 80%;
    background-color: rgb(10, 10, 10);
    margin: 1rem 0;
    border: 2px solid rgba(212, 109, 13, 0.733);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(207, 71, 18, 0.77);
    -moz-box-shadow: 0px 0px 10px 2px rgba(207, 71, 18, 0.77);
    box-shadow: 0px 0px 10px 2px rgba(207, 71, 18, 0.77);
    border-radius: 8px;
    padding: 0 1rem;
    padding-bottom: 1rem;
  }

  #underline {
    display: block;
    width: 40px;
    height: 0.25vh;
    background-color: rgb(212, 109, 13);
    margin-bottom: 2rem;
  }

  .accordion {
    .today {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .left {
        min-width: 100px;
      }

      span {
        margin-right: 1rem;
        transition: 0.2s all ease;
        &.inactive {
          opacity: 0;
        }
      }

      button {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          transition: 0.3s all ease;

          &.active {
            transform: rotateZ(180deg);
          }
        }
      }
    }

    .week {
      height: auto;
      padding-bottom: 30px;
      @include mobile {
        padding-bottom: 1rem;
      }

      .day {
        &.inactive {
          display: none;
        }
        &.color {
          color: rgb(212, 109, 13);
        }

        span {
          display: inline-block;
          margin-right: 1rem;
          min-width: 100px;
        }
      }
    }
  }
}
