@import "./index.scss";

.header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;

  .arrow__icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    opacity: 0.8;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    cursor: pointer;
    animation: arrow 2s infinite;

    @media screen and (max-width: 1200px) {
      display: none;
    }

    @keyframes arrow {
      100% {
        opacity: 0;
      }
    }

    .icon {
      transform: rotate(90deg);
      font-size: 30px;
      color: white;
    }
  }
}
