.home__wrapper {
  .home__menu {
    min-height: 500px;
    background-color: black;
    padding: 2rem 0;

    .home__menu_description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        border-bottom: 3px solid rgba(129, 138, 11, 0.596);
      }

      h2 {
        color: rgb(212, 109, 13);
      }

      p {
        margin-top: 0;
        font-size: 18px;
        opacity: 0.7;
      }

      .home__menu_card {
        width: 80%;
        padding-bottom: 4rem;
        margin-bottom: 2rem;

        ul {
          list-style: none;

          > li:nth-child(1) {
            .menu__item_wrapper {
              .menu__item {
                transform: translateX(100px);
              }
            }
          }
        }
      }
    }
  }
}
