$width: 768px;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Khand", sans-serif;
  letter-spacing: 0.05rem;

  .button {
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-family: "Architects Daughter", cursive;
    font-weight: bold;
    margin: 1rem 0;
    cursor: pointer;
    background-color: rgb(226, 155, 23);
    border: none;
    letter-spacing: 0.1rem;
  }

  .button__menu {
    position: relative;
    padding: 0;
    overflow: hidden;
    width: 150px;

    &:hover {
      span {
        transform: translateX(140px);
      }
    }

    span {
      position: relative;
      display: block;
      padding: 0.5rem 1rem;
      z-index: 11;
      background-color: rgb(212, 109, 13);
      transition: 0.2s all ease;
    }

    .arrow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .button__order {
    position: fixed;
    font-size: 20px;
    top: 50%;
    right: 10px;
    padding-top: 30px;
    transform-origin: right;
    transform: rotate(90deg) translateX(70px);
    border-radius: 10px;
    transition: 0.2s;
    opacity: 0.9;

    @media screen and (max-width: $width) {
      display: none;
    }

    &:hover {
      transform: rotate(90deg) translateX(70px) translateY(5px);
      opacity: 1;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
