.window__info {
  h3 {
    margin: 0.25rem 0;
    text-align: center;
  }
  p {
    margin: 0.25rem 0;
    text-align: center;
  }
  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: blue;
    text-align: center;
  }
}
