@import "./index.scss";

.privacyPolicy__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mobile {
    text-align: center;
  }

  h1 {
    font-family: "Architects Daughter", cursive;
    font-size: 40px;
    margin-top: 3rem;
    border: 2px dotted white;
    padding: 0.5rem 2rem;
    text-decoration: underline;
    text-align: center;

    @include mobile {
      max-width: 60%;
    }

    @media screen and (max-width: 450px) {
      font-size: 30px;
    }

    @media screen and (max-width: 350px) {
      font-size: 24px;
      padding: 0.5rem 0;
      max-width: 80%;
    }
  }

  .privacyPolicy__description {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 5rem;

    @include mobile {
      align-items: center;
      padding: 0 1rem;
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include mobile {
        text-align: left;
        padding-left: 1rem;
      }
    }

    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 20px;
    }

    p {
      margin-top: 0;
      font-size: 17px;
    }
  }
}
